{% extends 'proauto/base.html' %}
{% block content %}

<section class="dealer_profile inner_pages">
<div class="container">
    <div class="row">

      <div class="col-md-9">
        <div class="dealer_more_info">
          <h5 class="gray-bg info_title">История создания модели: {{ car.title }}</h5>
        <div class="col-sm-3 col-xs-4">
            <div class="dealer_logo"><img src="{{ car.mainImg.url }}" alt="{{ car.title }}"></a> </div>
          </div>
            {% autoescape off %}
      <p>{{ car.content }} </p>
            {%endautoescape %}
        </div>
      </div>
    </div>
</div>
</section>
{% endblock %}
